**/Api/MDES.Api/bin
**/Api/MDES.Api/obj

**/Common/Common.Utility/bin
**/Common/Common.Utility/obj

**/Core/Dao/MDES.Api.Dao/bin
**/Core/Dao/MDES.Api.Dao/obj

**/Core/Model/MDES.Api.Model/bin
**/Core/Model/MDES.Api.Model/obj

**/Core/Service/MDES.Api.Server/bin
**/Core/Service/MDES.Api.Server/obj

**/Job/ScheduleJob/bin
**/Job/ScheduleJob/obj

**/Variable/Variable/bin
**/Variable/Variable/obj

**/Core/Service/MDES.Api.Server/bin
**/Core/Service/MDES.Api.Server/obj

**/Core/Service/MDES.Api.Server/bin
**/Core/Service/MDES.Api.Server/obj
.vs